<% if (locals.debtsArray) { %>
    <% if (debtsArray.length === 0) { %>
        <h1 class="no-records">You have no debt records!</h1>
        <a href="/add" class="btn btn-dark btn-lg" role="button" aria-disabled="true">Add new debt record</a>
        <% } else { %>
            <div style="display: flex; width: 100%; justify-content: center; gap: 1rem; flex-wrap: wrap;">
            <% for (let debt of debtsArray) { %> 
            <div class="card" id="rounded" style="width: 25rem;">
                <div class="card-body bg-dark text-white">
                  <% if (debt.ispaid) { %>
                    <h5>Paid✅</h5>
                    <h5 class="card-title" style="text-align: center; text-decoration: line-through;"><%=debt.amount%> JD</h5>
                    <% } else { %>
                      <h5 class="card-title" style="text-align: center;"><%=debt.amount%> JD</h5>
                      <% } %>
                    <% if (debt.note.length >= 34) { %>
                        <p class="card-text" style="text-align: center;"><%=debt.note.slice(0,35)%>...</p>
                    <% } else { %>
                        <p class="card-text" style="text-align: center;"><%=debt.note%></p>
                        <% } %>
                    <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
                        <a href="/view/<%=debt.ID%>" class="btn btn-primary" style="width: 5rem;">View</a>
                        <a href="/update/<%=debt.ID%>" class="btn btn-warning" style="width: 5rem;">Update</a>
                        <% if (!debt.ispaid) { %>
                        <form action="/pay/<%=debt.ID%>" method="POST">
                          <button type="submit" class="btn btn-success" style="width: 5rem;">Pay</button>
                        </form>
                        <% } %>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="<%=debt.ID%>" onclick="getID(this)" style="width: 5rem;">
                            Delete
                          </button>
                    </div>
                  </div>
                </div>
                <% } %>
            </div>
                <div style="margin-top: 1rem;">
                    <a href="/add" class="btn btn-dark btn-lg" role="button" aria-disabled="true">Add new debt record</a>
                </div>
            <% } %>
    <% } %>

</div> <!--END OF HOME CONTAINER DIV THAT IS FLEX AND IS USED TO DISPLAY ITEMS, ITEMS MUST GO ABOVE-->
  <script>
    function getID(e) {
    let id = e.getAttribute("data-id");
    let deleteForm = document.querySelector("#deleteForm");

    if (deleteForm) {
      deleteForm.action = `/debts/${id}/delete`;
    }
  }
  </script>

  
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
      </div>
      <div class="modal-body">
        This will permenantly delete this record from our databases.
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="" method="POST" id="deleteForm">
              <button type="submit" class="btn btn-danger">Delete record</button>
          </form>
      </div>
    </div>
  </div>
</div>